.header {
  background-image: url("../images/desktop/image-header.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 20px;
  &-humberger  {
    cursor: pointer;
    display: none;
    background-color: transparent;
  }
  &-table {
    position: absolute;
    padding: 20px;
    width: 100%;
    margin: auto;
    background-color: white;
    max-width: 100%;
    top: 80px;
    &::after {
      position: absolute;
      content: "";
      width: 0; 
      top: -19px;
      right: 0px;
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 20px solid white;
    }
    .table-menu {
      padding: 30px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px 0;
      span {
        color: gray;
        font-size: 20px;
        font-weight: 600;
      }
    }
    .table-contact {
        background-color: $yellow;
        padding: 20px 25px;
        text-transform: uppercase;
        color: hsl(212, 27%, 19%);
        font-size: 18px;
        font-weight: 900;
        font-family: "Fraunces", serif;
        border-radius: 100rem;
    }
  
  }
  &-container {
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

  }
  &-logo {
    color: white;
    font-weight: 600;
    font-size: 40px;
  }
  .menu {
    display: flex;
    gap: 0 35px;
    color: white;
    font-weight: 500;
  }
  &-auth {
    display: flex;
    gap: 0 35px;
    align-items: center;
  }
  &-contact {
    padding: 15px 25px;
    background-color: white;
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 16px;
    color: $dark-blue;
    border-radius: 100rem;
    transition: all 0.2s;
    &:hover {
      background-color: rgba($color: white, $alpha: 0.5);
      color: white;
    }
  }
  &-center {
    margin-top: 50px;
    display: flex;
    gap: 100px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-title {
    font-family: "Fraunces", serif;
    font-size: 70px;
    letter-spacing: 10px;
    color: white;
    text-transform: uppercase;
    text-align: center;
  }
}
